.App {
  text-align: center;
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: min(100% - 30px, 1240px);
  padding: 2rem;
  margin-inline: auto;
  background-color: #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main { 
  background-color: #fff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 2rem;
}

.text {
  margin: 2rem;
  text-align: start;
  font-family: monospace;
  color: black;
}

.title {
  margin: 2rem;
  text-align: center;
  font-family: monospace;
  color: black;
}

.calculator {
  display: flex;
  background-color: rgb(255, 220, 220);
  width: min(100% - 30px);
  height: max-content;
  margin-inline: auto;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
  border-radius: .5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .2rem;
  margin: 2rem 1rem;
}

.input {
  width: 100%;
  height: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  align-self: center;
  text-align: right;
}

.sect {
  margin: 2rem;
  display: flex;
  align-self: center;
  flex-direction: row;
  width: min(100% - 30px);
  border-radius: 1rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.custom {
  margin-right: 2rem;
  width: 5rem;
  height: 2rem;
  align-self: center;
  justify-content: center;
  text-align: right;
  border-radius: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  max-width: 8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
